{% extends 'base.html.twig' %}

{% block title %}Ajouter une offre{% endblock %}
{% block body %}
    <h1>Ajouter une offre</h1>
    <form action="{{ '/entreprise/ajouter-offre/new' }}" method="get">

        <label>job</label>
        <select name="job" required>
            <option selected disabled>Choisir ...</option>
            {% for job in jobs %}
                <option value="{{ job.id }}">{{ job.name }}</option>
            {% endfor %}
        </select>
        </br>

        <label>Departement</label>
        <select name="departement" required>
            <option selected disabled>Choisir ...</option>
            {% for departement in departements %}
                <option value="{{ departement.id }}">{{ departement.name }}</option>
            {% endfor %}
        </select>
        </br>

        <label>Description</label>
        <textarea name="description" required></textarea>
        </br>

        <label>nom de l'entreprise</label>
        <input type="text" name="entreprise" placeholder="nom" required>
        </br>

        <label>email</label>
        <input type="email" name="email" placeholder="nom@exemple.com" required>
        </br>
        <input type="submit" name="submit" value="Proposer">
    </form>
{% endblock %}
