{% extends 'base.html.twig' %}

{% block title %}Empty Page{% endblock %}
{% block body %}
<div class="apn-hbh apn-hb"><span id="hbh-s" class="teal-apn"></span></div>
<section class="_1PTlP" data-reactid="105">
    <div class="_1AsHn _2R_g5" data-reactid="106">
        <div class="_28iRT" data-reactid="107">
            <div class="RcaAX" data-reactid="133">



                <div class="_2Njaz _3GLp9" data-reactid="307">
                    <div class="_358dQ" data-reactid="308">
                        <div class="_2r1q3" data-reactid="309">
                            <div data-reactid="310">
                                <div class="_1uEY7" data-reactid="311">
                                    {{ include('partial/filters.html.twig' ) }}
                                </div>
                                <div data-reactid="334">
                                    <ul class="_1rXe6" data-reactid="335">
                                        <li itemscope="" itemtype="http://schema.org/Offer" class="_3DFQ-" data-qa-id="aditem_container" data-reactid="336">

                                            <a title="Bottes fourrées taille 38" class="clearfix trackable" rel="nofollow" href="/chaussures/1557726717.htm/" data-reactid="344">
                                                <div class="_3dPxM" data-reactid="345">
                                                    <div class="_2sHzD" data-reactid="346">

                                                        <span class="_2lY3w" data-reactid="350">
                                                             <span class="_1vK7W _1eOK1" name="camera_old">
                                                                <svg height="32" width="32" viewBox="0 0 32 32">
                                                                   <g fill="none">
                                                                      <circle cx="16" cy="16" fill="#000" r="4.267"></circle>
                                                                      <path d="M12 2.667L9.56 5.333H5.333A2.675 2.675 0 0 0 2.667 8v16c0 1.467 1.2 2.667 2.666 2.667h21.334c1.466 0 2.666-1.2 2.666-2.667V8c0-1.467-1.2-2.667-2.666-2.667H22.44L20 2.667h-8z" fill="#000"></path>
                                                                      <path d="M0 0h32v32H0z"></path>
                                                                   </g>
                                                                </svg>
                                                             </span>
                                                             <span data-reactid="352">2</span>
                                                          </span>
                                                    </div>
                                                </div>
                                                <section class="_2EDA9" data-reactid="353">
                                                    <p class="_2tubl" data-reactid="354"><span itemprop="name" data-qa-id="aditem_title" data-reactid="355">Bottes fourrées taille 38</span></p>
                                                    <div class="_32V5I" data-reactid="356">
                                                        <p class="CZbT3" itemprop="alternateName" content="Chaussures" data-qa-id="aditem_category" data-reactid="357">
                                                            <!-- react-text: 358 -->Chaussures<!-- /react-text -->
                                                        </p>
                                                        <p class="_2qeuk" itemprop="availableAtOrFrom" data-qa-id="aditem_location" data-reactid="359">Sermaise 91530</p>
                                                    </div>
                                                    <div class="lFSBn" data-reactid="360">
                                                        <div class="_2OJ8g" itemprop="priceSpecification" itemscope="" itemtype="http://schema.org/PriceSpecification" data-qa-id="aditem_price" data-reactid="361">
                                                            <meta itemprop="priceCurrency" content="EUR" data-reactid="362">
                                                            <span data-reactid="363">
                                                                <span itemprop="price" class="_1NfL7" data-reactid="364">
                                                                   <!-- react-text: 365 -->20<!-- /react-text --><!-- react-text: 366 -->&nbsp;€<!-- /react-text -->
                                                                </span>
                                                             </span>
                                                        </div>
                                                        <div class="_3YWZQ" data-reactid="367">
                                                            <div itemprop="availabilityStarts" content="Aujourd'hui, 17:42" data-qa-id="listitem_date" data-reactid="368">Aujourd'hui, 17:42</div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </a>
                                            <div class="sc-fjdhpX bpzbGb" data-reactid="369">
                                                <div class="__react_component_tooltip place-top type-dark " id="toggleSavedAd_0" data-id="tooltip" data-reactid="370"></div>
                                            </div>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="googleafs"></div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
