{% extends 'base.html.twig' %}

{% block title %}Empty Page{% endblock %}
{% block body %}
<section class="_1PTlP">
    <div class="_1AsHn _2R_g5">
        <div class="_28iRT">
            <div class="RcaAX">
                <div class="_2Njaz _3GLp9">
                    <div class="_358dQ">
                        <div class="_2r1q3">
                            <div>
                                <div class="_1uEY7">
                                    <p data-reactid="312">
                                        <a class="_2ilNG" href="#"><< Retour à la liste</a>
                                    </p>
                                    {#
                                        affiche une image de map centrée siur le lieu
                                    #}
                                    {{ include('partial/filters.html.twig' ) }}
                                </div>
                                <div>
                                    <ul class="_1rXe6">
                                        <li class="_3DFQ-">
                                            <a title="TITRE" class="clearfix trackable" href="#">
                                                <div class="_3dPxM" data-reactid="345">
                                                    <div class="_2sHzD" data-reactid="346">
                                                        {#
                                                            affiche une image de map centrée siur le lieu
                                                        #}
                                                        <img src="http://35.180.128.163/?method=map-image&longitude=1.261105&latitude=45.833619"/>
                                                    </div>
                                                </div>
                                                <section class="_2EDA9" >
                                                    <p class="_2tubl" >
                                                        <span>
                                                            Poste de XXXXX
                                                        </span>
                                                    </p>
                                                    <div class="_32V5I" data-reactid="356">
                                                        <p class="CZbT3">
                                                            Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
                                                        </p>
                                                    </div>
                                                    <div class="lFSBn" data-reactid="360">
                                                        <div class="_2OJ8g" itemprop="priceSpecification" itemscope="" itemtype="http://schema.org/PriceSpecification" data-qa-id="aditem_price" data-reactid="361">
                                                            <meta itemprop="priceCurrency" content="EUR" data-reactid="362">
                                                            <span data-reactid="363">
                                                                <span itemprop="price" class="_1NfL7" data-reactid="364">
                                                                   Limoges 87000
                                                                </span>
                                                             </span>
                                                        </div>
                                                        <div class="_3YWZQ" data-reactid="367">
                                                            <div itemprop="availabilityStarts" content="Aujourd'hui, 17:42" data-qa-id="listitem_date" data-reactid="368">Aujourd'hui, 17:42</div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </a>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="googleafs"></div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}
