{% extends 'base.html.twig' %}

{% block title %}Candidature{% endblock %}
{% block body %}
    <h1>Postuler</h1>
    <form action="{{ '/offre/candidater/new' }}" method="get">
        <input type="number" name="id" value="{{ id }}" hidden>
        <label>nom</label>
        <input type="text" name="nom" placeholder="nom" required>
    </br>
        <label>prenom</label>
        <input type="text" name="prenom" placeholder="prenom" required>
        </br>
        <label>Date de naissance</label>
        <input type="date" name="dateNaissance" required>
        </br>
        <label>email</label>
        <input type="email" name="email" placeholder="nom@exemple.com" required>
        </br>
        <input type="submit" name="submit" value="Candidater">
    </form>
{% endblock %}
