<section class="_33mha" data-reactid="293">
    <div class="week-jobs" >
        <p>Les métiers de la semaine !</p>
    </div>
    <div class="_1AsHn _1YhkB">
        <div class="_3UM0h" >
            <ul data-reactid="296">
                <li class="_3f3p2" data-reactid="297">
                    <a title="Titre métier" href="#URL-A-MODIFIER" >Titre du métier</a>
                </li>
                <li class="job-description">
                    <p>Description du métier. Description du métier. Description du métier. Description du métier. Description du métier. Description du métier</p>
                </li>

            </ul>
        </div>
    </div>
</section>
