.jvectormap-container, #container-map-selector{height: 500px;}
.jvectormap-container path{
	fill:#3E6ABE !important;
}
.jvectormap-container
{
	background-color:transparent !important;
}
._11AC0 ul, ._11AC0 ul li, ._11AC0 ul li a
{
	font-size:9px !important;
}
._11AC0-right, ._11AC0-left
{
	float:left;
	width:15% !important;
}
._11AC0-right
{
	text-align:left !important;
	padding-left:10px;
}
.apn-be
{
	padding-top:20px;
}
.jvectormap-zoomin{
	margin-top: -66px;
	text-align: right;
}
.jvectormap-zoomout{
	text-align: right;
}
.jobs .bd-callout{
	padding-top:10px;
}
.week-jobs
{
	width:100%;
	font-size:20px;
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}