
<div data-reactid="316">
    <input type="checkbox" name="adlist_filter" data-qa-id="result_part" id="result_part" data-reactid="317" value="on" checked="">
    <label for="result_part" data-reactid="318">
        Filtre 1
    </label>
</div>
<div data-reactid="322">
    <input type="checkbox" name="adlist_filter"  id="result_pro" value="on">
    <label for="result_pro">
        Filtre 2
    </label>
</div>
<div class="selectWrapper" >
    <select class="select">
        <option selected="" value="time-desc">Tri : Plus récentes</option>
        <option value="time-asc">Tri : Plus anciennes</option>
        <option value="price-asc">Tri : Prix croissants</option>
        <option value="price-desc">Tri : Prix décroissants</option>
    </select>
</div>