{% extends 'base.html.twig' %}

{% block title %}Candidate{% endblock %}

{% block body %}
    <h1>Candidate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidate.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ candidate.Nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ candidate.Prenom }}</td>
            </tr>
            <tr>
                <th>Date_de_naissance</th>
                <td>{{ candidate.dateDeNaissance ? candidate.dateDeNaissance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidate.email }}</td>
            </tr>
            <tr>
                <th>Date_candidature</th>
                <td>{{ candidate.dateCandidature ? candidate.dateCandidature|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('candidate_index') }}">back to list</a>

    <a href="{{ path('candidate_edit', {'id': candidate.id}) }}">edit</a>

    {{ include('candidate/_delete_form.html.twig') }}
{% endblock %}
